/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #f0f0f0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}
/* NAVBAR */
nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 1rem;
    color: #333;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; 
    display: inline-flex; 
    align-items: center; 
}

nav a:hover {
    color: #007bff;
    transform: scale(1.1); /* Scale the link on hover */
}

nav a i {
    margin-left: 0.5rem; 
    font-size: 2rem;
    vertical-align: middle;
}

/* =============FRANJAS NEGRAS===================== */
.header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: white;
    box-sizing: border-box;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
   }
.icon-container i {
    display: flex;
    font-family: 'roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.icon-container i:hover {
    transform: scale(1.2); /* Scale the icon and text on hover */
}
.icon-container .fas::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
}
.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    color: white; 
}
.icon-container i::before {
    margin-bottom: 10px;
}

/* Products Section */
.hero {
    padding: 0;
    text-align: center;
    color: rgb(10, 10, 10);
    overflow: hidden;
}

.hero-content {
    margin: 0 auto;
    padding: 0; /* Remove padding */
    max-width: none; /* Remove max-width */
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 650px; /* Adjust as needed */
    display: block;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Products Section */
.products {
    padding: 2rem;
    text-align: center;
}

.product-carousel {
    position: relative;
    overflow: hidden; /* Hide overflowing products */
}

.product-grid {
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.product-grid::-webkit-scrollbar {
    display: none;
}

.product-grid::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust scrollbar color */
    border-radius: 4px;
}

.product-item {
    scroll-snap-align: start; /* Snap each product item to the start */
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    width: 250px; /* Set a fixed width for each item */
    margin-right: 1rem; /* Add spacing between items */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.scroll-left {
    left: 1rem;
}

.scroll-right {
    right: 1rem;
}
.product-item img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin-bottom: 1rem;
}

.product-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.add-to-cart {
    background-color: #0e0f0e;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block;
    margin-top: 0.5rem;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; /
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1000;
}

.chat-button i {
    font-size: 2rem; /* Adjust this value as needed */
}

/* Chat Container */
.chat-container {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    max-height: 500px;
    z-index: 1000;
}

.chat-container.open {
    display: flex;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .chat-container {
        width: 90%;
        max-width: 400px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
        max-height: 95vh;
    }
}

.chat-header {
    background-color: #0f0f0f;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.chat-header div {
    display: flex;
    align-items: center;
}

.chat-header .clear-chat {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 10px; 
}

.chat-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 400px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.chat-body p {
    font-size: 1rem;
    color: #999;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.chat-input button {
    background-color: #0f0f0f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.clear-chat {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
}

.user {
    background-color: #DCF8C6;
    align-self: flex-end;
    text-align: right;
    border-radius: 15px 5px 15px 15px;
    color: #000;
}

.bot {
    background-color: #EDEDED;
    align-self: flex-start;
    text-align: left; 
    border-radius: 5px 15px 15px 15px;
    color: #007bff; 
}

ul {
    padding-left: 15px;
    margin: 5px 0;
}

ul li {
    list-style-type: none;
    padding: 5px 0;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 5px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

@media (max-width: 600px) {
    .modal-content {
        width: 95%; /* Increase width on mobile */
        margin: 5% auto; /* Reduce top margin on mobile */
        max-height: 90vh; /* Limit the height */
        overflow-y: auto; /* Enable vertical scrolling */
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
footer .flex.space-x-4.mr-10 {
    margin-right: 80px;
}

@media (max-width: 600px) {
    footer a {
        font-size: 0.5rem;
    }
}

/* =============PANTALLAS-MAXIMO 600px===================== */
@media (max-width: 600px) {

    .banner .logo-title-container h1 {
        margin-top: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .icon-container i {
        font-size: 11px;
        white-space: normal;
    }
}
/* =============PANTALLAS-MINIMO 768px===================== */
@media (min-width: 768px) {
    .icon-container {
        gap: 35px; 
    }

    .icon-container i {
        font-size: 17px;
    }

    .icon-container .fas::before {
        font-size: 20px;
    }

    .header .icon-container {
        gap: 35px;
    }

    .header .icon-container .icon-text {
        font-size: 18px;
    }
}